.img {
    width: 150px;
    height: 150px;
}

.title-cart{
    font-weight: 700;
    font-size: 25px;

}

.texts {
    h3 {
        font-size: 1.2rem;
    }

}

.price {
    font-size: 1.5rem;
    font-weight: bold;
}

.cart {
    font-size: 10rem;
}

.spacer {
    height: 227px;
}

.spacer1 {
    height: 261px;
}

.remove-btn{
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}
.item-title{
    font-weight: 600;
    font-size: 18px;
}

@media (max-width:500px) {
    .title-cart {
            font-weight: 700;
            font-size: 15px;
    
        }
.item-title {
    font-weight: 600;
    font-size: 10px;
}

}