.bodyv{
    height: 100vh;
}


.dark{
    background-color: #000;
    color: #fff;
}

.light{
    background-color: #ffffff;
    color: #000000;
}

.text{
    user-select: none;
}


.inputs{
    width: 250px;

}

.inputs-password{
    width: 240px;
}


.login-container{
    width: 400px;
}